# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Explicitly declare text files you want to always be normalized
# and converted to native line endings on checkout.
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.html text
*.md text
.gitignore text
.env* text

# Explicitly declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
